<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <%- include("partials/errors.ejs") %>
                <form action="/clubhouse/log-in" method="POST" class="authform">
                    <h1>Login</h1>

                    <label for="username">Username</label>
                    <input name="username" placeholder="Username" type="text" />
                    <label for="password">Password</label>
                    <input name="password" type="password" />
                    <input type="submit" value="Login">

                </form>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>